* {
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
button,
::placeholder {
    color: white;
}

h2 {
    font-size: 3rem;
}


#wrap {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-image: url("../assets/images/rainbow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    height: 10vh;
}


.weather-header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100px;
    padding-right: 50px;

}

aside {
    padding: 10vh 30px 10vh 30px;
    border-radius: 20px;
    width: 30vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    overflow-y: hidden;
    padding-left: 30px;
    margin-left: -10px;
}


.form {
    display: flex;
    justify-content: center;


}

.form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid white;
}


#search-input {
    order: 1;
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-radius: 0;
    width: 75%;
}

input:focus {
    all: unset;
}


#search-button {
    order: 2;
    color: white;
    width: min-content;
    width: 15%;
    align-items: flex-end;
}

.history {
    border: 1px solid white;
    margin: 5px 0px;

}

.btn {
    color: white;

}

#search-button:hover {
    text-decoration: none;
    cursor: pointer;
}

#search-button:focus {
    outline: none;
    box-shadow: none;
}

.history:hover {
    color: white;
    background-color: #cc5500;
    border: #cc5500 1px solid;

}


.mainForecast {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .25);
    color: white;
    transition: opacity 0.5s ease-out;
}

.textContainer {
    flex: 2;
    margin: 2rem;
}

.cityNameContainer {
    justify-content: space-between;
    align-items: baseline;
}



.cityNameContainer :nth-child(2) {
    font-weight: 100;
    font-size: 2rem;
}


.weatherContainer p:first-child {
    font-weight: 100;
    font-size: 2rem;
    width: 100%;
}

.iconcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.iconcontainer img:only-child {
    width: 75%;

}


#forecast {
    margin: 10px;
}



.forecast {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .25);
    color: white;
    transition: opacity 0.5s ease-out;
    margin: 0px 1px;

}

.icon-img {
    margin-bottom: 7px;

}

#wrap {
    width: 100vw;
    height: 100vh;
}


@media only screen and (max-width: 780px) {

    aside {
        height: auto;
        padding: 1rem;
        border-radius: 0;
        width: auto;
        background-color: transparent;
        border: none;
        overflow-y: hidden;
        padding-left: 30px;
        margin-left: 0px;
    }

}